{% extends 'master.html' %}

{% block content %}

{% include 'masthead.html' %}


<!--                    -->
<!--        Body        -->
<!--                    -->

<div class="container">
	<div class="row">
		<!--left-->
		<div class="col-md-3" id="leftCol">
			<ul class="nav nav-stacked" id="sidebar">
				<li><a href="#intro">Intro</a></li>
				<li><a href="#source">Open Source</a></li>
				<li><a href="#documentation">Documentation</a></li>
				<li><a href="#features">Features</a></li>
				<li><a href="#hosted">Hosted Service</a></li>
			</ul>
		</div><!--/left-->


		<!--right-->
		<div class="col-md-9">
			<h2 id="intro">Introduction</h2>
			<p>
				ARLO was developed for classifying bird calls and using visualizations 
				to help scholars classify pollen grains. ARLO has the ability to extract 
				basic prosodic features such as pitch, rhythm and timbre for discovery 
				(clustering) and automated classification (prediction or supervised 
				learning), as well as visualizations. The current implementation of ARLO 
				for modeling runs in parallel on systems at the Texas Advanced Computing 
				Center (TACC) on the Stampede supercomputer. 
			</p>

			<hr />

			<h2 id="source">Open Source</h2>

			<p>
				ARLO is open-source, meaning you are free to use or modify it, 
				whether for yourself or to contribute back to the community. The ARLO 
				source code repositories are available on 
				<a href="https://bitbucket.org/arloproject/">Bitbucket</a>
			</p>
			<p>
				We are always on the lookout for additional help. See 
				<a href="/contributing/">Contributing</a> for more information. 
			</p>

			<hr>

			<h2 id="documentation">Documentation</h2>

			<p>
				ARLO Documentation is available at
				<a href="https://live.arloproject.com/docs/">https://live.arloproject.com/docs/</a>
			</p>
			<p>
				Additionally, the HiPSTAS group, an organization of users focused around 
				ARLO and similar technologies, maintains further documentation at 
				<a href="https://sites.google.com/site/nehhipstas/documentation">
					https://sites.google.com/site/nehhipstas/documentation
				</a>
			</p>

			<hr>

			<h2 id="features">Features</h2>

			<div class="row">

				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading"><h3>Scalable</h3></div>
						<div class="panel-body">
							ARLO's backend handles the heavy-lifting - modeling, searching, 
							classification and so on. The backend is specifically designed to 
							enable numerous machines to split up large tasks, when one 
							machine just can't cope.
						</div>
					</div>
				</div>  

				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading"><h3>Web Interface</h3></div>
						<div class="panel-body">
							Users interact with ARLO through a web browser, meaning there is 
							no software to install to individual's machines. We don't even use 
							client side Flash or Java.
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading"><h3>REST API</h3></div>
						<div class="panel-body">
							A RESTful API allows users to script additional tools, automate tasks, 
							and embed ARLOs methods in other tools. 
						</div>
					</div>
				</div>  

			</div>

			<hr>

			<h2 id="hosted">Hosted Service</h2>
			<p>
				A freely hosted version is currently available for a limited number of users, 
				though we are pretty much at capacity given our current resources. However, if 
				you would like to contribute resources or setup your own installation, let us 
				know and we'll see how we can help. 
			</p>

			<hr>
			<hr>

		</div><!--/right-->
	</div><!--/row-->
</div><!--/container-->

{% endblock %}
