
<!--                        -->
<!--        Masthead        -->
<!--                        -->

<div id="masthead">  
	<div class="container">
		<div class="row well well-sm">
			<div class="col-md-7">
				<h1>
					ARLO
					<p class="lead">Adaptive Recognition with Layered Optimization</p>
				</h1>
			</div>
			<div class="col-md-5">
				<img src="{{ url_for('static', filename='img/spectra1.jpg') }}" class="img-responsive" alt="TonyB Speaking 'ARLO'" title="TonyB Speaking 'ARLO'">
			</div>
		</div> 
	</div><!--/container-->
</div><!--/masthead-->


