<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>ARLO Project</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
	</head>


	<body>

<!--                       -->
<!--        Nav Bar        -->
<!--                       -->

<nav class="navbar navbar-default navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">ARLO</a>
		</div>
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li>
					<a href="http://news.arloproject.com/">Latest News</a>
				</li>
				<li>
					<a href="https://live.arloproject.com/docs/team.html#publications">Publications</a>
				</li>
				<li>
					<a href="https://live.arloproject.com/docs/">Documentation</a>
				</li>
				<li>
					<a href="https://twitter.com/arloproject">
						@arloproject
						<img src="{{ url_for('static', filename='img/Twitter_logo_blue.png')}}" height="20" width="20" style="border:none; padding:0px;" />
					</a>
				</li>
			</ul>
		</nav>
	</div>
</nav>


	{% block content %}
	{% endblock %}

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
	</body>
</html>
